body {
  margin: 0;
  font-family: sans-serif;
  background-color: #aadbff;
}

/* canvas {
  border: 5px solid black;
  margin-left: 180px;
  margin-top: 170px;
} */

h1 {
  background-color: #aadbff;
  color: #3c61ad;
}

#demographics-dropdown {
  background-color: #e4eccf;
  width: auto;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.piechart {
  width: 150px;
  height: 150px;
  border: 1px solid #3c61ad;
}

.trendchart {
  width: 400px;
  height: 150px;
  border: 1px solid #3c61ad;
}

#main-map {
  height: 480px;
  width: 900px;
}

.section {
  flex-direction: column;
  /* flex-grow: 1; */
}
.aside1 {
  flex-direction: column;
  /* flex-grow: 1; */
}
.aside2 {
  flex-direction: column;
  /* flex-grow: 1; */
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
